.verao {
    background-color: #ff5900;
    color: black;
}

.outono {
    background-color: #87091ee1;
    color: black;
}

.inverno {
    background-color: #9d9da7;
    color: black;
}

.primavera {
    background-color: #347f1b;
    color: black;
}